# dependencies
node_modules/
.pnp
.pnp.js

# build
.next/
out/

# misc
.env*.local
.env.flutterwave
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# debug
npm-debug.log*

# system
.DS_Store
Thumbs.db

.vercel
